    body {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      background-image: url('background.png');
      background-size: contain;
      background-repeat: repeat;
      margin: 0;
      padding: 0;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* Center vertically */
      align-items: center;
      /* Center horizontally */
      min-height: 100vh;
      color: black;
      overflow: hidden;
    }


    /* Header styles */
    .app-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #075e54;
      color: white;
      padding: 10px 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: -20px -20px 10px;
    }

    .app-title {
      font-size: 24px;
      margin: 0;
    }

    .app-actions {
      display: flex;
      gap: 10px;
    }

    .app-action-button {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 16px;
      cursor: pointer;
    }

    .app-action-button:hover {
      text-decoration: underline;
    }


    .container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      max-width: 50vw;
      width: 100%;
      /* Make sure container takes full width */
    }


    /* Media query for mobile view */
    @media (max-width: 900px) {
      .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-width: 100vw;
        width: 100%;
        /* Make sure container takes full width */
      }

      .chat-container {
        max-width: 95vw;
      }

      .input-container {
        max-width: 70vw;
        flex-direction: row;
        /* Stack elements vertically */
        align-items: flex-start;
        /* Align items to the start */
        padding: 20px;
        /* Add padding */
      }
    }


    .chat-container {
      flex: 1;
      width: 100%;
      /* Take up full width */
      max-height: 86vh;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
      margin-bottom: 20px;
      /* Add margin at the bottom */
    }

    .message {
      margin-bottom: 10px;
      padding: 5px;
      border-radius: 10px;
      font-size: 16px;
      line-height: 1;
    }

    .user-a {
      background-color: #128C7E;
      color: white;
      text-align: left;
    }

    .user-b {
      background-color: #E2E2E2;
      text-align: right;
    }

    .timestamp {
      font-size: 10px;
      color: black;
    }

    .input-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px;
      margin-top: 50px;
      border-top: 1px solid #ccc;
      position: fixed;
      /* Stick to the bottom */
      bottom: 0;
      /* Stick to the bottom */
      width: 100%;
      /* Take up full width */
      max-width: inherit;
      margin-left: 20px;
      margin-bottom: 5px;
      background-color: inherit;
      /* Inherit background color */
    }

    .input-box {
      flex-grow: 1;
      padding: 10px;
      border: 2px solid #128C7E;
      border-radius: 30px;
      font-size: 14px;
      margin-right: 10px;
      outline: none;
      width: 100%;
      /* Take up full width */
      background-color: inherit;
      /* Inherit background color */
    }

    .send-button {
      background-color: #075e54;
      color: white;
      border: none;
      border-radius: 30px;
      padding: 8px 15px;
      cursor: pointer;
    }
  