@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Poppins', Helvetica Neue, Helvetica, Arial, sans-serif;
  background-image: url("background.png");
  background-size: contain;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: black;
  overflow: hidden;
}

/* Header styles */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #075e54;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: -20px -20px 10px;
}

.app-title {
  font-size: 18px;
  margin: 0;
}

.app-actions {
  display: flex;
  gap: 10px;
}

.app-action-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.app-action-button:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 50vw;
  width: 100%;
}

/* Media query for mobile view */
@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
  }

  .chat-container {
    max-width: 92vw;
  }

  .input-container {
    max-width: 70vw;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
  }
}

.settings-container,
.profile-container,
.chat-container {
  flex: 1;
  width: 100%;
  max-height: 86vh;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  scroll-behavior: auto;
  margin-bottom: 20px;
}

.settings-container,
.profile-container {
  max-height: 100vh;
}

.message {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1;
}

.user-a {
  background-color: #128c7e;
  color: white;
  text-align: left;
}

.user-b {
  background-color: #e2e2e2;
  text-align: right;
}

.timestamp {
  font-size: 10px;
  color: black;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin-top: 50px;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: inherit;
  margin-left: 20px;
  margin-bottom: 5px;
  background-color: inherit;
}

.input-box {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #128c7e;
  border-radius: 30px;
  font-size: 14px;
  margin-right: 10px;
  outline: none;
  width: 100%;
  background-color: inherit;
}

.send-button {
  background-color: #075e54;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 15px;
  cursor: pointer;
}
/* Styles for Settings and Profile sections */
.page-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.page-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.section-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.section {
  padding: 20px;
}

.section-description {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.settings-list {
  list-style: none;
  padding-left: 0;
}

.setting {
  font-size: 14px;
  margin-bottom: 5px;
}

.edit-profile-form {
  margin-top: 20px;
  padding: 30px;
}

.form-label {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.form-input,
.form-textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
}

.update-button {
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}
